#calculator {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
}

#display {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: solid blue 4px;
  width: 50vw;
}

#keypad {
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 50vw;
}

#main-buttons {
  display: flex;
}

#operators {
  display: flex;
  flex-direction: column;
}