body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  height: 36px;
  width: 50vw;
  padding: 6px 25vw;
  background-color: hsl(214, 18%, 33%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon {
  color: hsl(60, 100%, 85%);
  font-size: 30px;
}

#author {
  color: hsl(60, 100%, 95%);
}

#calculator {
  background-color: hsl(55, 100%, 83%);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#display {
  margin: 12px 5px;
  display: flex;
  flex-direction: column;
  flex: 1.5;
  width: 50vw;
  box-sizing: border-box;
  padding: 4px;
  background-color: hsl(150, 70%, 80%);
  border: solid hsl(140, 75%, 50%) 5px;
  border-radius: 8px;
  font-size: 24px;
}

#keypad {
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  flex: 6;
  width: 50vw;
}

#keypad div {
  display: flex;
  flex: 1;
}

button {
  flex: 1;
  border: solid 5px hsl(240, 100%, 60%);
  background-color: hsl(200, 100%, 80%);
  padding: 0;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 8px;
}

#zero {
  flex: 1 0.6 27%;
}

#main-buttons {
  display: flex;
}